/**
 * Component Animation/Shake.
 * @author David Sklar <david.sklar@jumpshot.com>
 */

// =============================================================================
// Shake animation
// =============================================================================

// .component

/**
 * Modifiers.
 */

// .component--modifier

/**
 * States.
 */

// .is-component-state

/**
 * Shake.
 */

@keyframes shake {
    0% {
        transform: rotate(1deg) translate(3%, -1%);
    }
    35% {
        transform: rotate(-1deg) translate(-2%, -3%);
    }
    50% {
        transform: rotate(1deg) translate(1%, 2%);
    }
    75% {
        transform: rotate(-1deg) translate(-3%, -2%);
    }
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Subcomponent
// =============================================================================

// .component__subcomponent
