/**
 * Component Animation/Slide.
 * @author David Sklar <david.sklar@jumpshot.com>
 */

// =============================================================================
// Slide animation
// =============================================================================

// .component

/**
 * Modifiers.
 */

// .component--modifier

/**
 * States.
 */

// .is-component-state

/**
 * Slide down.
 */

@keyframes slide--down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/**
 * Slide up.
 */

@keyframes slide--up {
    0% {
        transform: translateY(0);
    }
    99% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Subcomponent
// =============================================================================

// .component__subcomponent
