/**
 * Component List/Feature.
 *
 * @requires {Component} Animation/Emerge
 * @requires {Component} Animation/Pop
 * @requires {Component} Media
 *
 * @author David Sklar <david.sklar@jumpshot.com>
 */

// =============================================================================
// Feature list
// =============================================================================

.lst-feature {
    @include accelerate;
}

/**
 * Modifiers.
 */

// .component--modifier

/**
 * States.
 */

// .is-component-state

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Feature list item
// =============================================================================

.lst-feature__item {
    counter-increment: lst-feature-item;
    margin-bottom: rhythm(2);

    &.mda {
        .mda__figure {
            margin-left: (-0.5) * $list-feature-figure-size;
        }
    }

    &.is-animated {
        animation: emerge--left 0.4s cubic-bezier(0.860, 0.000, 0.070, 1.000) 0.2s both;

        .lst-feature__figure {
            animation: pop--in 0.5s ease-out 0.5s both;
        }
    }

    &:nth-of-type(even) {
        @extend .mda--right;

        &.mda {
            .mda__figure {
                margin-left: $media-figure-indent-horizontal;
                margin-right: (-0.5) * $list-feature-figure-size;
            }
        }

        &.is-animated {
            animation-name: emerge--right;
        }
    }
}

// Feature list item title
// =============================================================================

.lst-feature__item__title {
    &::before {
        content: "UVP#" counter(lst-feature-item) " ";
    }
}

// Feature list figure
// =============================================================================

.lst-feature__figure {
    @include rounded;
    @include size($list-feature-figure-size);

    background: {
        color: $list-feature-figure-background;
    }
    display: none;

    @media (min-width: 640px) {
        display: block;
    }
}

