/**
 * Component Navigation/Primary.
 * @author David Sklar <david.sklar@jumpshot.com>
 */

// =============================================================================
// Primary navigation
// =============================================================================

.nav-primary {
    font-size: 1.1em;
    margin-bottom: rhythm(2);

    ul {
        @extend %lst--inline;
    }

    @media (min-width: 640px) {
        float: right;
        margin-bottom: 0;
    }
}

/**
 * Modifiers.
 */

// .component--modifier

/**
 * States.
 */

// .is-component-state

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Primary navigation item
// =============================================================================

.nav-primary__item {
    margin-left: nth($navigation-primary-item-indent, 1);
    text-transform: uppercase;
    transform: translateY(50%);

    &:first-child {
        margin-left: 0 !important;
    }

    a {
        border-bottom: $navigation-primary-item-border-size solid transparent;
        padding-bottom: 2px;
        text-decoration: none;
        transition: border-bottom-color 0.3s ease;

        &:focus,
        &:hover {
            border-bottom-color: $navigation-primary-item-border--hover;
        }
    }

    @media (min-width: 320px) {
        margin-left: nth($navigation-primary-item-indent, 2);
    }
}

/**
 * Modifiers.
 */

/**
 * Primary navigation active item.
 */

// .nav-primary__item--active {
//     a {
//         border-bottom-color: $navigation-primary-item-border--active !important;
//     }
// }

