/**
 * Component Gate.
 * @author David Sklar <david.sklar@jumpshot.com>
 */

// =============================================================================
// Gate
// =============================================================================

.gate {
    display: table;
}

/**
 * Modifiers.
 */

// .component--modifier

/**
 * States.
 */

// .is-component-state

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Gate item
// =============================================================================

.gate__item {
    display: table-cell;
    vertical-align: top;
    width: 45%;
}

// Gate space
// =============================================================================

.gate__space {
    display: table-cell;
    width: 10%;
}





