/**
 * Component List.
 * @author David Sklar <david.sklar@jumpshot.com>
 */

// =============================================================================
// List
// =============================================================================

// .component

/**
 * Modifiers.
 */

/**
 * List without bullets and padding.
 */

%lst--reset {
    padding: 0;
    li {
        list-style: none;
        padding-left: 0;
    }
}

/**
 * List with `inline-block` lineal descendats.
 */

%lst--inline {
    @extend %lst--reset;
    > li {
        display: inline-block;
    }
}

/**
 * List with stacked items.
 */

.lst--stack {
    @extend %lst--reset;
}

/**
 * Inline list with margin after each item.
 */

.lst--after {
    @extend %lst--inline;
    > li {
        margin-right: 20px;
    }
}

/**
 * Inline list with margin before each item.
 */

.lst--before {
    @extend %lst--inline;
    > li {
        margin-left: 20px;
    }
}

/**
 * States.
 */

// .is-component-state

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Subcomponent
// =============================================================================

// .component__subcomponent
