/**
 * Component Page.
 * @author David Sklar <david.sklar@jumpshot.com>
 */

// =============================================================================
// Page
// =============================================================================

// .component

/**
 * Modifiers.
 */

// .component--modifier

/**
 * States.
 */

// .is-component-state

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Page wrap
// =============================================================================

// .page__wrap {
//     background-color: $page-wrap-background;
// }

// Page inset
// =============================================================================

.page__inset {
    @extend %ctr--center;

    max-width: 1000px;
    padding: {
        left: $page-inset-indent;
        right: $page-inset-indent;
    }
}

/**
 * Page inset, primary.
 */

.page__inset--primary {
    @extend %ctr--center;

    @media (min-width: 640px) {
        width: 80%;
    }
    @media (min-width: 720px) {
        width: 70%;
    }
    @media (min-width: 800px) {
        width: 60%;
    }
}

/**
 * Page inset, secondary.
 */

.page__inset--secondary {
    @extend %ctr--center;

    @media (min-width: 640px) {
        width: 90%;
    }
    @media (min-width: 720px) {
        width: 80%;
    }
}

// Page head
// =============================================================================

.page__head {
    background-color: $page-head-background;
    padding: {
        bottom: rhythm(2);
        top: rhythm();
    }
    z-index: 1;

    /**
     * Page head, sticky.
     */

    &.is-sticky {
        @include accelerate;

        animation: slide--down 0.3s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
        background-color: rgba($page-head-background, 0.95);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
        left: 0;
        padding-bottom: rhythm(0.5);
        position: fixed;
        right: 0;
        top: 0;

        .page__head__bar {
            margin-bottom: rhythm(0.5);
        }

        .page__head__logo {
            @include adjust-font-size-to(26px, 1);
            @media (min-width: 640px) {
                margin: 0;
            }
        }

        .nav-primary {
            @include adjust-font-size-to(16px, 1);
            ul {
                margin: 0;
            }
        }

        .nav-primary__item {
            transform: translateY(10%);
        }

        .con-leader,
        .gate__item p + p,
        .gate__item--tour,
        .gate__space {
            display: none;
        }

        .gate {
            margin: {
                bottom: 0;
                top: 0;
            }
        }
        .gate__item {
            text-align: left;
            @media (min-width: 640px) {
                text-align: center;
            }
        }

        .btn {
            display: inline-block;
            font-size: rem(0.75 * $button-font-size--large);
            height: 0.8 * $button-size--large;

            @media (min-width: 640px) {
                position: absolute;
                top: rhythm(0.75);
            }
        }
    }
}

// Page head bar
// =============================================================================

.page__head__bar {
    @extend %group;
    margin-bottom: rhythm(2);
}

// Page head logo
// =============================================================================

.page__head__logo {
    @include adjust-font-size-to(35px);
    @include trailer(0.5);

    margin-top: 0;
    // position: relative;

    a {
        color: $base-color;
        font-weight: inherit;
        text-decoration: none;
    }

    // &,
    // .lay-block {
    //     @include size(
    //         nth($page-head-logo-size, 1),
    //         nth($page-head-logo-size, 2)
    //     );
    //     overflow: hidden;
    // }

    // .lay-block {
    //     background-image: url("../gfx/head-logo.png");
    //     left: 0;
    //     position: absolute;
    //     top: 0;
    // }

    @media (min-width: 640px) {
        float: left;
    }
}

// Page main
// =============================================================================

.page__main {
    background-color: #b0bec5;
    color: $white;
    min-height: 500px;
    padding: rhythm(4) 0;
}

// Page foot
// =============================================================================

.page__foot {
    @extend %group;

    padding: rhythm(3) 0;
    text-align: center;

    &,
    a {
        color: $page-foot-color;
    }
    a {
        @include link-underlined(false);
    }
    a:focus,
    a:hover {
        color: rgba($page-foot-color, 0.75);
        transition: color 0.3s ease;
    }

    @media (min-width: 640px) {
        text-align: left;
    }
}

// Page foot cell
// =============================================================================

.page__foot__cell {
    float: left;
    width: 100 / 3 * 1%;

    @media (min-width: 640px) {
        width: 100 / 4 * 1%;
    }
}

// Page foot primary
// =============================================================================

.page__foot__primary {
    text-transform: uppercase;

    @media (min-width: 640px) {
        width: 80%;
    }
}

// Page foot secondary
// =============================================================================

// .page__foot__secondary {
//     clear: both;
//     font-size: 0.8em;
//     margin-bottom: 0;
//     padding-top: rhythm();
// }

// Page foot network
// =============================================================================

.page__foot__network {
    @extend .lst--after;

    font-size: 2em;
    margin-right: -20px;

    a {
        color: #b0bec5;
    }

    @media (min-width: 640px) {
        float: right;
    }
}

