/**
 * Component Font/Secondary.
 * @author David Sklar <david.sklar@jumpshot.com>
 */

// =============================================================================
// Secondary font
// =============================================================================

.font-secondary {
    font-family: "Oxygen", Helvetica, sans-serif;
}

/**
 * Modifiers.
 */

/**
 * Secondary font, bold.
 */

.font-secondary--bold {
    @extend .font-secondary;
    font-weight: 700;
}

/**
 * Secondary font, light.
 */

.font-secondary--light {
    @extend .font-secondary;
    font-weight: 300;
}

/**
 * States.
 */

// .is-component-state

/**
 * Context.
 */

// .has-component

// =============================================================================
// Subcomponents
// =============================================================================

// Subcomponent
// =============================================================================

// .component__subcomponent
