---
date: <%= grunt.template.today('yyyy-mm-dd HH:MM:ss') %>
---

<div class="page__inset--secondary">
	<p>Treatments to tackle the Ebola outbreak in West Africa should become available in the coming weeks and months, says the World Health Organization.</p>
</div>

<div class="page__inset--primary">
	<p><a href="" class="btn btn--element btn--primary btn--large btn--block">Become a member</a></p>

	<p>Naval vessels scouring Swedish waters for a suspected foreign submarine focus on a bay near Stockholm on the fifth day of their search.</p>
</div>
