---
date: <%= grunt.template.today('yyyy-mm-dd HH:MM:ss') %>
---

<section class="lst-feature page__inset--secondary">
	<article class="lst-feature__item mda">
		<span class="mda__figure"><span class="lst-feature__figure"></span></span>
		<div class="mda__content">
			<h2 class="lst-feature__item__title">Mechanism behind nature's sparkles revealed</h2>
			<p>The team revealed that disordered layers of crystals that are responsible for silvery reflective scales of fish reflect light in the same way as coloured, iridescent insect wings and carapaces. The research reveals just how shiny creatures have evolved nanoscale structures that exploit light.</p>
			<p>The team also says that humans could copy the effect to produce, for example, hyper-reflective surfaces.</p>
		</div>
	</article>
	<article class="lst-feature__item mda">
		<span class="mda__figure"><span class="lst-feature__figure"></span></span>
		<div class="mda__content">
			<h2 class="lst-feature__item__title">Ebola serum for Africa patients within weeks, says WHO</h2>
			<p>Serum made from the blood of recovered Ebola patients could be available within weeks in Liberia, one of the countries worst hit by the virus, says the World Health Organization. Speaking in Geneva, Dr Marie Paule Kieny said work was also advancing quickly to get drugs and a vaccine ready for January 2015.</p>
		</div>
	</article>
	<article class="lst-feature__item mda">
		<span class="mda__figure"><span class="lst-feature__figure"></span></span>
		<div class="mda__content">
			<h2 class="lst-feature__item__title">Army accused of using cluster bombs</h2>
			<p>A leading human rights group says it has strong evidence Ukraine attacked populated areas of Donetsk with cluster bombs, banned by many other states. Human Rights Watch (HRW) accuses the army of using the deadly weapon, which scatters bomblets, to shell the rebel-held city earlier this month.</p>
		</div>
	</article>
	<article class="lst-feature__item mda">
		<span class="mda__figure"><span class="lst-feature__figure"></span></span>
		<div class="mda__content">
			<h2 class="lst-feature__item__title">Tractor beam breaks distance record</h2>
			<p>Scientists have created a tractor beam that can drag objects for distances of up to 20 cm &ndash; around 100 times further than in previous experiments. The doughnut-shaped laser is also reversible &ndash; so it can either repel or attract objects.</p>
			<p>In future, these beams could be used to study atmospheric pollutants, or to retrieve delicate particles of material for examination.</p>
		</div>
	</article>
	<article class="lst-feature__item mda">
		<span class="mda__figure"><span class="lst-feature__figure"></span></span>
		<div class="mda__content">
			<h2 class="lst-feature__item__title">Lufthansa strike declared legal as union warns of more action</h2>
			<p>German airline Lufthansa has failed in a court bid to force its pilots to call off their strike. A labour court in Hesse found on Tuesday that there were no grounds to declare the action illegal.</p>
			<p>On Monday, the pilots began their eighth strike this year in a dispute over Lufthansa's attempt to change retirement and pension arrangements.</p>
		</div>
	</article>
</section>

<div class="page__inset--primary mt--100">
	<p><a href="" class="btn btn--element btn--primary btn--large btn--block">Become a member</a></p>

	<p>Naval vessels scouring Swedish waters for a suspected foreign submarine focus on a bay near Stockholm on the fifth day of their search.</p>
</div>
