<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie-lte-9"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>JumpStart</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="dns-prefetch" href="//fonts.googleapis.com">

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300&amp;subset=latin,latin-ext">
	<link rel="stylesheet" type="text/css" href="{{assets}}/css/main.min.css">
</head>

<body>
	<div class="page__wrap">
		<!-- HEADER -->
		<header role="banner" class="page__head">
			<div class="page__inset">
				<div class="page__head__bar">
					<h1 class="page__head__logo"><a href="#" class="lay-block">JumpStart<span class="lay-block"></span></a></h1>

					<nav role="navigation" class="nav-primary">
						<ul>
							<li class="nav-primary__item"><a href="#">Features</a></li><!--
							--><li class="nav-primary__item"><a href="#">Pricing</a></li><!--
							--><li class="nav-primary__item"><a href="#">Login</a></li>
						</ul>
					</nav>
				</div>

				<div class="page__inset--primary">
					<p class="con-leader">What a piece of work is a man, how noble in reason, how infinite in faculty, in form and moving how express and admirable, in action how like an Angel, in apprehension how like a god!</p>

					{{!-- <form action="//insights.jumpshot.com" method="get" class="form-typeahead form-typeahead--large">
						<fieldset>
							<legend class="lay-off">Domain check</legend>

							<p class="con-center con-large"><label for="domain-check">Check up on your odmain now</label></p>
							<div class="lay-table">
								<div class="lay-row">
									<span class="lay-cell">
										<span class="lay-block lay-relative">
											<input type="text" class="form-typeahead__field--preface" placeholder="Type your domain here">
											<input type="text" class="form-typeahead__field--suggest">
											<input type="text" class="form-typeahead__field--input" id="domain-check">
										</span>
									</span>
									<span class="lay-cell">
										<button class="form-typeahead__button btn btn--secondary">Check</button>
									</span>
								</div>
							</div>
						</fieldset>
					</form>

					<p><a href="#" class="btn btn--element btn--primary btn--large btn--block">Become a member</a></p> --}}
				</div>


				<div class="gate">
					<div class="gate__item gate__item--tour">
						<p class="mb--0"><a href="#ui-tour" class="btn btn--element btn--tertiary btn--large btn--block"><span class="icon--camera-retro icon--before"></span>Take a tour</a></p>
						<p>Know JumpStart killer features and&nbsp;benefits.</p>
					</div>
					<div data-text="or" class="gate__space"></div>
					<div class="gate__item">
						<p class="mb--0"><a href="#" class="btn btn--element btn--primary btn--large btn--block"><span class="icon--rocket icon--before"></span>Start tracking</a></p>
						<p>Jump in to start tracking your domain and&nbsp;competitors.</p>

						<p><a href="#"><span class="icon--sign-in icon--before"></span>Already in? Let's proceed to login</a></p>
					</div>
				</div>

				<hr class="lay-none">
			</div>
		</header>
		<!-- // HEADER -->

		<!-- MAIN -->
		<main class="page__main">
			<div class="page__inset">
				{{> body}}
			</div>
		</main>
		<!-- // MAIN -->

	</div><!-- // .page__wrap -->

	<!-- FOOTER -->
	<footer role="contentinfo" class="page__foot">
		<div class="page__inset">
			<hr class="lay-none">

			<ul class="page__foot__network">
				<li><a href="#" class="icon--facebook2"><span class="lay-off">Facebook</span></a></li><!--
				--><li><a href="#" class="icon--twitter2"><span class="lay-off">Twitter</span></a></li><!--
				--><li><a href="#" class="icon--googleplus2"><span class="lay-off">Google+</span></a></li><!--
				--><li><a href="#" class="icon--pinterest2"><span class="lay-off">Pinterest</span></a></li><!--
				--><li><a href="#" class="icon--linkedin2"><span class="lay-off">LinkedIn</span></a></li>
			</ul>

			<div class="page__foot__primary">
				<div class="page__foot__cell"></div>
				<ul class="page__foot__cell lst--stack">
					<li><a href="#">Blog</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Careers</a></li>
				</ul>
				<ul class="page__foot__cell lst--stack">
					<li><a href="#">Support</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<ul class="page__foot__cell lst--stack">
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</div>

			{{!-- <p class="page__foot__secondary">
				© 2014 Jumpshot Inc.
			</p> --}}
		</div>
	</footer>
	<!-- // FOOTER -->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="{{assets}}/js/main.min.js"></script>

</body>
</html>
