<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie-lte-9"><![endif]-->
<!--[if !IE]><!--><html><!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title>Jumpshot</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="dns-prefetch" href="//fonts.googleapis.com">

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext">
	<link rel="stylesheet" type="text/css" href="{{assets}}/css/main.min.css">
</head>

<body>
	<div class="page__wrap">
		<!-- HEADER -->
		<header role="banner" class="page__head">
			<div class="page__inset">
				<h1 class="page__head__logo"><a href="/styleguide/" class="lay-block">Jumpshot<span class="lay-block"></span></a></h1>

				<nav role="navigation">
					<ul>
						<li><a href="#">Features</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Login</a></li>
					</ul>
				</nav>

				<p>What a piece of work is a man, how noble in reason, how infinite in faculty, in form and moving how express and admirable, in action how like an Angel, in apprehension how like a god!</p>

				<form action="#">
					<fieldset>
						<legend>Domain check</legend>

						<p><label for="domain-check">Check up on your odmain now</label></p>
						<div class="form-typeahead form-typeahead--large" style="margin-bottom: 190px; ">
							<div class="lay-table">
								<div class="lay-row">
									<span class="lay-cell">
										<span class="lay-block lay-relative">
											<input type="text" class="form-typeahead__field--preface" placeholder="Type your domain here">
											<input type="text" class="form-typeahead__field--suggest">
											<input type="text" class="form-typeahead__field--input" id="domain-check">
										</span>
									</span>
									<span class="lay-cell">
										<button class="form-typeahead__button btn btn--secondary">Check</button>
									</span>
								</div>
							</div>
						</div>
					</fieldset>
				</form>

				<p><a href="" class="btn btn--element btn--primary btn--large lay-block">Become a member</a></p>

				<hr class="lay-none">
			</div>
		</header>
		<!-- // HEADER -->

		<div class="page__inset">

			<!-- MAIN -->
			<main class="page__main">
				{{> body}}
			</main>
			<!-- // MAIN -->

		</div><!-- // .page__inset -->
	</div><!-- // .page__wrap -->

	<!-- FOOTER -->
	<footer role="contentinfo" class="page__foot">
		<div class="page__inset">
			<hr class="lay-none">

			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Careers</a></li>
				<li><a href="#">Contact</a></li>
				<li><a href="#">Terms</a></li>
				<li><a href="#">Privacy</a></li>
			</ul>

			<ul>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Google+</a></li>
			</ul>

			<p class="page__foot__primary">
				© 2014 <a href="//www.jumpshot.com" target="_blank">Jumpshot Inc.</a>
			</p>
		</div>
	</footer>
	<!-- // FOOTER -->

</body>
</html>
